html, body {
    font-family: Helvetica;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body, .box {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

#page {
    width: 100%;
    height: 100%;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}


#board {
    margin: 30px 10px 0px 10px;
    padding: 1px;
    border: 1px solid black;
}


#leftcolumn, #rightcolumn {
    width: 100%;
    margin: 5px;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-align: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
}

.instructions {
    font-size: smaller;
}

#foundborder {
    /*
    padding: 10px 5px 10px 10px;
    border: 1px solid rgb(200,60,10);
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    */
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    background: #EEE6E4;
    background: white; 
}

#found {
    overflow: auto;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    cursor: pointer;
    outline: none;
}

#found > * {
    padding: 1px;
    margin: 5px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 4px black;
    -webkit-box-shadow: 2px 2px 4px black;
    -moz-box-shadow: 2px 2px 4px black; 
    background-color: #E0B491;
}

#found > .selected {
    border: 1px solid black;
}

#title {
    float: right;
}

header {
    background-color: rgb(200, 60, 10);
    margin-bottom: 20px;
    padding-right: 10px
}

footer {
    margin-top: 20px; 
}

